@import "nib"

.hello
  font-size 100px
  padding-top  0.5em

#counter
  opacity 1
  transition all .8s ease

  &.v-enter, &.v-leave
    opacity 0
    height 0

  #count
    display block
    font-size 200px
    line-height 1em
    margin 0


  #pid
    display block
    font-size 15px
    margin 0
    padding 0